<link rel="stylesheet" href="../../css/createPost.css" />
<div class="container">
  <form action="/posts/create" method="post" enctype="multipart/form-data">
    <%- include("_postForm") %>
  </form>
  <br />
  <div class="back">
    <a href="/" class="home">Back home</a>
  </div>
</div>
