<link rel="stylesheet" href="../css/home.css" />
<section class="welcome">
  <h1 class="scale-up-hor-center">Welcome</h1>
  <div class="menu">
    <a href="#mission">Our mission</a>
    <a href="#movement">Join the movement!</a>
    <a href="#team">The team</a>
  </div>

  <img src="../images/beachCleanUp.jpg" alt="Beach Clean Up" />
</section>
<section id="mission" class="mission">
  <h2 class="title">Our mission</h2>
  <p>
    The planet needs our help, it's not about my trash or your acts, it's all
    about fighting against a common enemy, ourselves. Each time it's more
    frequent to see disposals in plan nature. Something must be done, otherwise,
    the planet won't last forever. We have the goal to show these disposal
    places and organize voluntary groups that want to clean them. If you are
    just walking or doing some activities like Geocaching and see a pile of
    garbage, please take a photo and send it to us, with this simple act you are
    protecting OUR planet.
  </p>
</section>
<section id="movement" class="movement">
  <h2 class="title">Join the movement!</h2>
  <p>
    Use your cool phone and take the best photo of trash that you can, after
    that submit the picture and join/organize a clean-up activity!
  </p>
  <br />
  <p>
    They are activities where you are helping the planet but at the same time
    doing some exercising and you can meet awesome people like you!
  </p>
  <br />
  <p>Do you need more proof? Let's see some videos:</p>
  <section class="youtube">
    <iframe
      width="420"
      height="315"
      src="https://www.youtube.com/watch?v=jXcoPO76UyA"
    >
    </iframe>
  </section>
</section>
<section id="team" class="team">
  <h2>Our team</h2>
  <div class="theTeam">
    <div class="belchior">
      <div>
        <img
          class="imageTeamMember"
          src="../images/peacemakerDeleteafter.jpeg"
          alt="Belchior photo"
        />
      </div>
      <div>
        <p>Name:</p>
        <p>Age:</p>
        <p>Nationality:</p>
        <p>Favorite TV Show:</p>
        <p>Hobbies:</p>
        <p>If you could make a law:</p>
      </div>
    </div>
    <div class="raul">
        <div>
            <img
              class="imageTeamMember"
              src="../images/peacemakerDeleteafter.jpeg"
              alt="Raul photo"
            />
          </div>
          <div>
            <p>Name:</p>
            <p>Age:</p>
            <p>Nationality:</p>
            <p>Favorite TV Show:</p>
            <p>Hobbies:</p>
            <p>If you could make a law:</p>
          </div>
    </div>
  </div>
</section>
