<link rel="stylesheet" href="../css/home.css" />
<section class="welcome">
  <h1 class="scale-up-hor-center">Welcome</h1>
  <div class="menu">
    <a class="menuBar" href="#mission">Our mission</a>
    <a class="menuBar" href="#movement">Join the movement!</a>
    <a class="menuBar" href="#team">The team</a>
  </div>

  <img src="../images/beachCleanUp.jpg" alt="Beach Clean Up" />
</section>
<section id="mission" class="mission">
  <h2 class="title">Our mission</h2>
  <p class="text">
    The planet needs our help, it's not about my trash or your acts, it's all
    about fighting against a common enemy, ourselves. Each time it's more
    frequent to see disposals in plan nature. Something must be done, otherwise,
    the planet won't last forever. We have the goal to show these disposal
    places and organize voluntary groups that want to clean them. If you are
    just walking or doing some activities like Geocaching and see a pile of
    garbage, please take a photo and send it to us, with this simple act you are
    protecting OUR planet.
  </p>
</section>

<section id="movement" class="movement">
  <h2 class="title">Join the movement!</h2>
  <p class="text">
    Use your cool phone and take the best photo of trash that you can, after
    that submit the picture and join/organize a clean-up activity!
  </p>
  <br />
  <p class="text">
    They are activities where you are helping the planet but at the same time
    doing some exercising and you can meet awesome people like you!
  </p>
  <br />
  <p class="text">Do you need more proof? Let's see some videos:</p>
  <section class="youtube">
    <iframe
      width="420"
      height="315"
      src="https://www.youtube.com/embed/jXcoPO76UyA"
    >
    </iframe>
    <iframe
      width="420"
      height="315"
      src="https://www.youtube.com/embed/iGnlyKAS-cg"
    >
    </iframe>
    <iframe
      width="420"
      height="315"
      src="https://www.youtube.com/embed/MnCbTTTi7ic"
    >
    </iframe>
  </section>
</section>
<section id="team" class="team">
  <h2>The team</h2>
  <div class="theTeam">
    <div class="belchior">
      <div>
        <img
          class="imageTeamMemberBel"
          src="../images/b8d90ede-4d95-41fd-b0da-bb095c5a1efc_alta-libre-aspect-ratio_default_0.jpg"
          alt="Belchior photo"
        />
      </div>
      <div>
        <p><b>Name:</b> Belchior Fontão</p>
        <p><b>Age:</b> 28</p>
        <p><b>Nationality:</b> Portuguese</p>
        <p><b>Favorite TV Show:</b> The Big Bang Theory</p>
        <p><b>Hobbies:</b> Clean-up sessions and FIFA</p>
        <p><b>If you could make a law:</b> If you are mean to someone, you have to go to jail for one day</p>
      </div>
    </div>
    <div class="raul">
      <div>
        <img
          class="imageTeamMemberRaul"
          src="../images/E3KIqveWYAEw50w.jpg"
          alt="Raul photo"
        />
      </div>
      <div>
        <p><b>Name:</b> Raúl Alonso</p>
        <p><b>Age:</b> 27</p>
        <p><b>Nationality:</b> Spanish</p>
        <p><b>Favorite TV Show:</b> The Office</p>
        <p><b>Hobbies:</b> Hiking and beers</p>
        <p><b>If you could make a law:</b> In Spain, each week the king is someone from the plebs</p>
      </div>
    </div>
  </div>
</section>
