<h1>home page</h1>
<% if (!currentUser) { %>
<a href="/signup"> Sign Up page</a>
<br />
<a href="/login"> Log in page</a>
<% } else{ %>
<a href="/profile/<%= currentUser._id %> ">My profile</a>
<br />
<a href="/posts/create">Create post</a>
<br />
<a href="/logout">Log Out</a>
<% } %>
<br />
<a href="/posts/all">View all posts</a>
