* {
  background-color: #67ad21;
}

.mainContainerEditProfile {
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.username input{
  border: 3px rgba(235, 255, 0, 0.66) solid;
  border-radius: 5px; 
  width: 200px;
}

.profileImage{
  border: 3px rgba(235, 255, 0, 0.66) solid;
  border-radius: 5px; 
  width: 360px;
  height: 100px;
}

.country {
  margin-top: 20px;
  
}

.country input {
  border: 3px rgba(235, 255, 0, 0.66) solid;
  border-radius: 5px; 
  width: 200px;
}

.gender {
  margin-top: 20px;


}

.options{
  border: 3px rgba(235, 255, 0, 0.66) solid;
  border-radius: 5px; 
  width: 200px;
}


.saveBtn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 200px;
  height: 32px;
  text-decoration: none;
  border: 3px rgba(235, 255, 0, 0.66) solid;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  color: rgba(235, 255, 0, 0.66);
  background-color: #67ad21;
}
.saveBtn:hover {
  border: 3px black solid;
  color: black;
}

#theImage{
  width: 600px
}