<form action="/editProfile/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data">
  <%- include("_userForm") %> <% if (errorMessage) { %>
  <p class="error"><%= errorMessage %></p>
  <% } %>
</form>

