<form action="/editProfile/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data">
  <%- include("_userForm") %> <% if (errorMessage) { %>
  <p class="error"><%= errorMessage %></p>
  <% } %>
</form>
<a href="/profile/<%= currentUser._id %>">Back to Profile</a>
