<link rel="stylesheet" href="../../css/resetPass.css">
<form action="/password-reset" method="post">
    <div class="section text-center">
        <div class="form-group">
            <label for="email">Did you forget your password? Introduce your email</label>
            <input type="email" id="email" name="email" class="form-style" placeholder="Your Email">
            <i class=" input-icon fa-solid fa-envelope"></i>
        </div>
        <button type="submit" class="btn mt-4">Submit</button>
    </div>
</form>