<link rel="stylesheet" href="../../css/resetPass.css">
<form action="/password-reset/<%= user.id %>/<%= token.token %>" method="post">
  <label for="password">Introduce your new password</label>
  <input type="password" id="password" name="password" />
  <button type="submit">Submit</button>
</form>
