<link rel="stylesheet" href="../css/signUp.css" />

<div class="signUpMenu" id="form">
  <h2>Signup</h2>

  <form action="/signup" method="POST">
    <label> Username </label>
    <input type="text" name="username" placeholder="Introduce your username" />

    <label> Email </label>
    <input type="email" name="email" placeholder="Introduce your email" />

    <label> Password </label>
    <input
      type="password"
      name="password"
      placeholder="Introduce your password"
    />

    <label> Repeat Password </label>
    <input
      type="password"
      name="repeatPassword"
      placeholder="Repeat your password"
    />

    <button class="btnSubmit" type="submit">Create account</button>
  </form>
  <p>Already have an account? <a href="/login">Click here</a></p>
  <p><a href="/">Back to home page</a></p>
</div>


